<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Github Search</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input #input (keyup)="onSearch(input.value)" type="text" placeholder="Search users" class="form-control">
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="container">


  <template [ngIf]="selectedUser.id">
    <ol class="breadcrumb">
      <li><a (click)="go('home')">Home</a></li>
      <li class="active">{{selectedUser.login}}</li>
    </ol>

    <div class="view-profile">

      <div class="media">
        <div class="media-left">
          <img width="100" height="100" class="media-object" [src]="selectedUser.avatar_url">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{selectedUser.login}}</h4>
        </div>
      </div>

    </div>
    <hr/>
    <h2><span *ngIf="loadingFollowers">Followers loading...</span><span *ngIf="!loadingFollowers">Followers</span></h2>
    <template [ngIf]="selectedUser.followers">
      <div class="row">
        <div *ngFor="let follower of selectedUser.followers" class="col-xs-6 col-md-2">

          <div class="thumbnail">
            <img [src]="follower.avatar_url">
            <div class="caption">
              <h4>{{follower.login}}</h4>
              <p>
                <button (click)="viewUser(follower)" class="btn btn-primary" role="button">View Details</button>
              </p>
            </div>
          </div>
        </div>
      </div>

    </template>


  </template>


  <div class="row">

    <template [ngIf]="!selectedUser.id">
      <div *ngFor="let user of users" class="col-xs-6 col-md-2">

        <div class="thumbnail">
          <img [src]="user.avatar_url">
          <div class="caption">
            <h4>{{user.login}}</h4>
            <p>
              <button (click)="viewUser(user)" class="btn btn-primary" role="button">View Details</button>
            </p>
          </div>
        </div>
      </div>
    </template>


  </div>

  <hr>

 
</div>
